@using HorasExtra.Blazor.PagesServices
@using HorasExtra.Application.ViewModels

@page "/horas/cadastrar"
@page "/horas/cadastrar/{id}"

@attribute [Authorize]

@inject HorasPageService HorasPageService
@inject NavigationManager NavigationManager
@inject UsuarioPageService UsuarioPageService

<h1>Apontamento de Horas</h1>

<EditForm OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit" EditContext="@EditContext">
    <div class="form-group">
        <label>Desenvolvedor</label>
        <InputText id="desenvolvedor" class="form-control" @bind-Value="Model.Desenvolvedor" disabled="disabled" />
    </div>

    <div class="form-row">
        <div class="form-group col-md-4">
            <label>Data</label>
            <InputDate id="data" class="form-control" @bind-Value="Model.Data" />
        </div>
        <div class="form-group col-md-4">
            <label>Hora Inicio</label>
            <InputSelect id="horaInicio" @bind-Value="Model.HoraInicio" class="form-control">
                <option value="">Selecione</option>
                <option value="00:00">00:00</option>
                <option value="00:30">00:30</option>
                <option value="01:00">01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option>
                <option value="02:30">02:30</option>
                <option value="03:00">03:00</option>
                <option value="03:30">03:30</option>
                <option value="04:00">04:00</option>
                <option value="04:30">04:30</option>
                <option value="05:00">05:00</option>
                <option value="05:30">05:30</option>
                <option value="06:00">06:00</option>
                <option value="06:30">06:30</option>
                <option value="07:00">07:00</option>
                <option value="07:30">07:30</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option>
                <option value="22:30">22:30</option>
                <option value="23:00">23:00</option>
                <option value="23:30">23:30</option>
                <option value="23:59">23:59</option>
            </InputSelect>
        </div>
        <div class="form-group col-md-4">
            <label>Hora Fim</label>
            <InputSelect id="horaFim" @bind-Value="Model.HoraFim" class="form-control">
                <option value="">Selecione</option>
                <option value="00:00">00:00</option>
                <option value="00:30">00:30</option>
                <option value="01:00">01:00</option>
                <option value="01:30">01:30</option>
                <option value="02:00">02:00</option>
                <option value="02:30">02:30</option>
                <option value="03:00">03:00</option>
                <option value="03:30">03:30</option>
                <option value="04:00">04:00</option>
                <option value="04:30">04:30</option>
                <option value="05:00">05:00</option>
                <option value="05:30">05:30</option>
                <option value="06:00">06:00</option>
                <option value="06:30">06:30</option>
                <option value="07:00">07:00</option>
                <option value="07:30">07:30</option>
                <option value="08:00">08:00</option>
                <option value="08:30">08:30</option>
                <option value="09:00">09:00</option>
                <option value="09:30">09:30</option>
                <option value="10:00">10:00</option>
                <option value="10:30">10:30</option>
                <option value="11:00">11:00</option>
                <option value="11:30">11:30</option>
                <option value="12:00">12:00</option>
                <option value="12:30">12:30</option>
                <option value="13:00">13:00</option>
                <option value="13:30">13:30</option>
                <option value="14:00">14:00</option>
                <option value="14:30">14:30</option>
                <option value="15:00">15:00</option>
                <option value="15:30">15:30</option>
                <option value="16:00">16:00</option>
                <option value="16:30">16:30</option>
                <option value="17:00">17:00</option>
                <option value="17:30">17:30</option>
                <option value="18:00">18:00</option>
                <option value="18:30">18:30</option>
                <option value="19:00">19:00</option>
                <option value="19:30">19:30</option>
                <option value="20:00">20:00</option>
                <option value="20:30">20:30</option>
                <option value="21:00">21:00</option>
                <option value="21:30">21:30</option>
                <option value="22:00">22:00</option>
                <option value="22:30">22:30</option>
                <option value="23:00">23:00</option>
                <option value="23:30">23:30</option>
                <option value="23:59">23:59</option>
            </InputSelect>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Salvar</button> &nbsp;
    <a href="/horas" class="btn btn-danger">Voltar</a>

    <DataAnnotationsValidator />

    @if (!FormValid)
    {
        <div class="alert alert-danger top-15" role="alert">
            <ValidationSummary />
        </div>
    }
</EditForm>

@code {
    [Parameter]
    public string id { get; set; }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    private System.Security.Claims.ClaimsPrincipal claimsPrincipal;

    private EditContext EditContext;
    private bool FormValid = true;
    private bool FormSubmit = false;
    private HorasCadastrarRequestViewModel Model = new HorasCadastrarRequestViewModel();

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(id))
        {
            Model.Data = DateTime.Now;
        }
        else
        {
            HorasObterResponseViewModel response = HorasPageService.Obter(id);
            Model.Id = response.Id;
            Model.Desenvolvedor = response.Desenvolvedor;
            Model.Data = response.Data;
            Model.HoraInicio = response.HoraInicio;
            Model.HoraFim = response.HoraFim;
        }

        EditContext = new EditContext(Model);
        EditContext.OnFieldChanged += EditContext_OnFieldChanged;

        base.OnInitialized();
    }

    protected async override void OnParametersSet()
    {
        if (authenticationState != null)
        {
            claimsPrincipal = (await authenticationState).User;
            Model.Desenvolvedor = claimsPrincipal.Identity.Name;
        }
    }

    protected override void OnAfterRender(bool firstRender)
    {
        SetFormValid();
        base.OnAfterRender(firstRender);
    }

    private void EditContext_OnFieldChanged(object sender, FieldChangedEventArgs e)
    {
        SetFormValid();
    }

    private void SetFormValid()
    {
        FormValid = EditContext.Validate() || !FormSubmit;
    }

    private void SetSubmit()
    {
        FormSubmit = true;
    }

    private void HandleValidSubmit()
    {
        try
        {
            SetSubmit();
            HorasPageService.Adicionar(Model);
            NavigationManager.NavigateTo("/horas");
        }
        catch (Exception ex)
        {

        }
    }

    private void HandleInvalidSubmit()
    {
        SetSubmit();
        SetFormValid();
    }
}
