@using HorasExtra.Blazor.PagesServices
@using HorasExtra.Application.ViewModels

@layout LoginLayout

@page "/login"
@page "/"

@inject LoginPageService LoginPageService
@inject NavigationManager NavigationManager
@inject UsuarioPageService UsuarioPageService

<section class="login-block">
    <div class="container">
        <div class="row">

            <!-- Login Form -->
            <div class="col-md-4 login-sec">
                <h2 class="text-center">Login</h2>
                <EditForm Model="@_request" OnValidSubmit="@ValidSubmit" OnInvalidSubmit="@InvalidSubmit">
                    <DataAnnotationsValidator />

                    <div class="login-form">

                        <!-- Email -->
                        <div class="form-group">
                            <label class="text-uppercase">E-MAIL</label>
                            <InputText id="email" class="form-control" @bind-Value="_request.Email" />
                        </div>

                        <!-- Senha -->
                        <div class="form-group">
                            <label class="text-uppercase">SENHA</label>
                            <InputText id="senha" class="form-control" @bind-Value="_request.Senha" type="password" />
                        </div>

                        <!-- Botão cadastrar e Entrar -->
                        <div class="form-group">

                            @if (_carregando)
                            {
                                <button class="btn btn-login" disabled="disabled">Entrando...</button>
                            }
                            else
                            {
                                <button type="submit" class="btn btn-login" @onclick="ClickEntrar">Entrar</button>
                            }

                            @if (!_formularioValido)
                            {
                                <div class="alert alert-danger top-15" role="alert">
                                    <ValidationSummary />

                                    @if (_response.Erros != null && _response.Erros.Any())
                                    {
                                        <ul class="validation-errors erro-customizado">
                                            @foreach (ErroViewModel erro in _response.Erros)
                                            {
                                                <li class="validation-errors">@erro.Descricao</li>
                                            }
                                        </ul>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                </EditForm>
                <div class="copy-text">Criado por <i class="fa fa-heart"></i> Fernando José</div>
            </div>
            <div class="col-md-8 banner-sec">
                <div class="carousel-item active">
                    <img class="d-block img-fluid" src="https://static.pexels.com/photos/33972/pexels-photo.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <div class="banner-text">
                            <h2>Horas extras</h2>
                            <p>Sistema para apontamento de horas extras para os desenvolvedores da Avivatec</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    private LoginRequestViewModel _request = new LoginRequestViewModel();
    private LoginResponseViewModel _response = new LoginResponseViewModel();
    private bool _formularioValido = true;
    private bool _carregando = false;

    private void ValidSubmit()
    {
        _response.Erros = new List<ErroViewModel>();
        _response = LoginPageService.LogIn(_request);

        // Se usuário encontrado redireciona para o dashboard
        if (!_response.Erros.Any())
        {
            NavigationManager.NavigateTo("/dashboard");
        }

        // Usuário não encontrado
        _formularioValido = false;
        _carregando = false;
    }

    private void InvalidSubmit()
    {
        _response.Erros = new List<ErroViewModel>();
        _carregando = false;
        _formularioValido = false;
    }

    private void ClickEntrar()
    {
        _formularioValido = true;
        _carregando = true;
    }

    //private void AdicionarUsuario()
    //{
    //    UsuarioPageService.Adicionar(new UsuarioCadastrarRequestViewModel
    //    {
    //        Nome = "Reginaldo Pinheiro",
    //        Email = "v.pinheiro@avivatec.com.br",
    //        Senha = "g716iso2"
    //    });
    //}
}